.container-col {
    /*max-width: 1250px;*/
    margin: auto;
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-col h1 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.container-col h1::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 180px;
    height: 2px;
    background-color: #707070;
    left: 50%;
    transform: translateX(-50%);
}

.up {
    width: 100%;
    height: 482px;
    position: relative;
}

.up img {
    width: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    width: 100%;
    background-color: #0060a9;
}

.attribute {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 40px 0px;
}

.attribute h2, .category h2 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #707070;
}

.attribute h2::before, .category h2::before {
    position: absolute;
    content: "";
    bottom: -4px;
    width: 120px;
    height: 2px;
    background-color: #707070;
    left: 50%;
    transform: translateX(-50%);
}

.attribute p {
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-size: 40px;
    font-weight: 600;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.category h2::before {
    width: 140px;
}

.category ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    place-items: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /*width: 700px;*/
    text-align: center;
}

.category ul li {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #707070;
    /*width: 120px;*/
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .container-col {
        max-width: 100%;
    }

    .container-col h1 {
        margin-bottom: 50px;
    }

    .content {
        max-width: 300px;
        max-height: 300px;
    }

    .up {
        margin-bottom: 50px;
    }
}