.faq-container {
  max-width: 1250px;
  margin: auto;
  padding: 50px 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.faq-container h1{
  position: relative;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.faq-container h1::before{
  position: absolute;
  content: "";
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #707070;
  left: 50%;
  transform: translateX(-50%);
}
.faq-container img{
  width: 100%;
}
.faq-content{
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.faq-content{
  width: 80%;
  background-color: white;
}
.faq-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 2px solid #707070;
  padding: 20px;
  margin: 20px;
  background-color: white;
}
.faq-1 .question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
}
.faq-1{
  line-height: 34px;
}
.question h3{
  font-weight: normal;
  font-size: 23px;
}
.question i{
  cursor: pointer;
}
@media screen and (max-width:1190px) {
  .faq-container{
    max-width: 100%;
  }
  .faq-1{
    line-height: normal;
    padding: 5px;
    overflow: auto;
  }
}
@media screen and (max-width:830px){
  .faq-container img{
    height: 100vh;
  }
  .faq-container h1{
    margin-bottom: 50px;
  }
  .faq-content{
    flex-wrap: wrap;
  }
  .hide{
    display: none;
  }
}
@media screen and (max-width:400px){
  .faq-1{
    width: auto;
  }
}
