.container-team{
    /*max-width: 1250px;*/
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}
.container-team h1{
    position: relative;
  font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.container-team h1::before{
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #707070;
  left: 50%;
  transform: translateX(-50%);
}
.member{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.member1{
    width: 300px;
    background-color: #005FA9;
    height: 300px;
    margin: 10px;
}
@media screen and (max-width:850px) {
  .member{
    flex-direction: column;
  }
  .container-team{
    max-width: 100%;
  }
}